h1{
    text-align: center;
    color: white;
}

form{
   display: inline-block;
}

body{
    text-align: center;
    background-color: goldenrod;
}
 
 input[type="button"] {
    
    width: 100%;
    font-size: 20px;
    border-color: black;
   background-color: white;
   padding: 5px;
   display: inline-block;


 }
    
table{
    background-color: lightgray;
}

hr{
    color: black;
}